
.img--carousel{
  width: 300px;	
}
div .carousel{
  margin-top: 10%;
  min-height: 400px;
 /* padding-top:40%;*/ 
}

/*.btn{
	height: 8%;
	font-size:3vw; 
}*/

.carousel .indicators .indicator-item.active {
    background-color:#bf2c2c;
} 	


