div .carousel {
	margin-top: 10%;
	min-height: 400px;
}

.img--carousel {
	width: 300px;
}

.carousel .indicators .indicator-item{
	background-color: #868691;
}


.carousel .indicators .indicator-item.active{
	background-color: #bf2c2c;
}
.contenedorImgRegistro {
	height: 100%;
	width: 100%;
	&--img {
		height: 60%;
		width: 60%;
		margin-top:40%;
	}
	
}
#email{
	width:70px;
	display: inline;
}

.contenedor-Saludo{
	height: 300px;
	background-color: #451e36;
	
	&--engraneCont{
		text-align: right;
		width: 100%;
		height: 100%;
		
		img{
			width: 5%;
		height: 5%;
		}
	}
}

.imgCentral-Cont{
	width: 100%;
		height: 100%;
	&--imgCara{
		width: 70%;
		height: 80%;
		}
}

.bienvenida {
  color: #00c3a3; 
	img{
		width: 8%;
		height: 8%;
	}}




















